@font-face {
  font-family: "Palatino";
  font-display: swap;
  src: url("../fonts/Palatino-BoldItalic.woff2") format("woff2"), url("../fonts/Palatino-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Palatino";
  font-display: swap;
  src: url("../fonts/Palatino-Bold.woff2") format("woff2"), url("../fonts/Palatino-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Palatino";
  font-display: swap;
  src: url("../fonts/Palatino Linotype Regular.woff2") format("woff2"), url("../fonts/Palatino Linotype Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none !important;
}

html,
body {
  scroll-behavior: smooth;
}

.rnb-title {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  font-family: "Palatino";
  font-size: 36px;
  color: #242424;
}

.rnb-contacts-cont {
  position: relative;
  display: flex;
  background-color: #242424;
  font-family: "Nunito";
  color: #fff !important;
}

.rnb-contacts-cont a {
  color: #fff !important;
}

.rnb-contacts-cont .info .title {
  padding: 70px 0;
  font-family: "Palatino";
  font-size: 36px;
  color: #fff;
}

.rnb-contacts-cont .info .point {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rnb-contacts-cont .info .point svg {
  margin-right: 15px;
}

.rnb-contacts-cont .info .sub-title {
  margin-top: 40px;
  margin-bottom: 25px;
}

.rnb-contacts-cont .info .soc {
  display: flex;
  gap: 30px;
  margin-bottom: 150px;
}

.rnb-contacts-cont #map {
  width: 65%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.modal .close {
  border: none !important;
  background-color: transparent !important;
}

.modal-body > div {
  display: none;
}

.modal-body > div > button {
  background: none;
  border: none;
  font-family: "Nunito";
  margin-bottom: 80px;
}

.modal-body > div.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body .form-submit button {
  margin: 30px auto;
}

.no-webp .rnb-htb-cont {
  background-image: url(../img/howToBuy.png); }

.rnb-htb-cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  font-family: "Nunito";
  color: #fff !important;
  font-size: 18px;
  font-weight: lighter;
  padding: 140px 0;
}

.rnb-htb-cont a {
  color: #fff !important;
  text-decoration: underline !important;
  text-underline-offset: 3px;
  font-weight: 500;
}

.rnb-htb-cont .point:not(:last-child) {
  margin-bottom: 7px;
}

.rnb-htb-cont .sub-title {
  margin-bottom: 30px;
  font-family: "Palatino";
  font-size: 36px;
  color: #fff;
}

.profile_info {
  position: relative;
}

.profile-user-exit {
  border: none;
  background: none;
  padding: 0;
  font-family: "Nunito";
  position: absolute;
  bottom: 20px;
}

.cng-btn {
  min-width: 200px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #242424;
  color: #242424;
}

.cng-btn-photo {
  margin-bottom: 20px;
  background-color: #242424;
  color: #fff;
}

.profile_forms .form-group {
  margin-bottom: 10px;
}

.select-sex span {
  min-width: 200px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EFEFEF;
  color: #242424;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}

.container input:checked ~ span {
  border: 1px solid #242424;
  background-color: #242424;
  color: #fff;
}

.select-sex label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container input:checked ~ span {
  border: none;
}

.profile-links button {
  display: block;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #BFBFBF;
  padding-left: 13px;
  border: none;
  background: none;
}

.profile-links button:last-child {
  margin-bottom: 0;
}

.profile-wrapper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 243/211;
}

.pl-0 {
  padding-left: 0 !important;
}

.profile-wrapper {
  height: 100%;
}

.profile-wrapper > div {
  height: 100%;
}

.profile-links button.active {
  position: relative;
  padding-left: 34px;
  color: #242424;
}

.profile_list-wrapper {
  padding: 30px 0 0 0;
  border: 1px solid #EFEFEF;
  border-top: none;
}

.tabcont {
  display: none;
}

.fav-stat {
  display: flex;
  align-items: center;
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  margin-left: 20px;
}

.profile-links button.active:before {
  width: 26px;
  height: 1px;
  background-color: #242424;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.item-list .item {
  width: 25%;
  background-color: #fff;
  border: 1px solid #efefef;
  font-family: "Nunito";
}

.item-list .item img {
  width: 100%;
  aspect-ratio: 282/346;
}

.item-list .item .item-border {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-list .item .item_articul {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 10px;
}

.item-list .item .item_name {
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
}

.item-list .item .item_price {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}

.webp .rnb-htb-cont { background-image: url(../img/howToBuy.webp); }