@font-face {
  font-family: "Palatino";
  font-display: swap;
  src: url("../fonts/Palatino-BoldItalic.woff2") format("woff2"), url("../fonts/Palatino-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Palatino";
  font-display: swap;
  src: url("../fonts/Palatino-Bold.woff2") format("woff2"), url("../fonts/Palatino-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Palatino";
  font-display: swap;
  src: url("../fonts/Palatino Linotype Regular.woff2") format("woff2"), url("../fonts/Palatino Linotype Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none !important;
}

html,
body {
  scroll-behavior: smooth;
}

header.mobile.background svg path {
  fill: #fff;
  stroke: #fff;
  transition: 0.3s all;
}

header.mobile > button {
  width: 50px;
}

.swiper.trends .item_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.actual .item {
  max-width: none;
  width: 33.3333333333% !important;
}

.actual .item img {
  width: 100%;
  aspect-ratio: 505/614;
}

.categories_item {
  background-size: cover;
  background-position: center;
}

.slides .slide {
  background-size: cover;
  background-position: center;
}

.how_work_item:after {
  display: none;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo svg {
  width: 100%;
  aspect-ratio: 2133/635;
}

.section_title.bordered:before,
.section_title.bordered:after {
  width: calc((100vw - 257px - 280px) / 2);
}

.faq .section_title.bordered:before,
.faq .section_title.bordered:after {
  width: calc((100vw - 456px - 280px) / 2);
}

.prod-video {
  min-height: 470px;
}

.video-section {
  height: auto !important;
}

.section-why-buy {
  overflow: hidden;
}

.rnb-title {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  font-family: "Palatino";
  font-size: 36px;
  color: #242424;
}

.hw-garantee {
  display: flex !important;
}

.rnb-contacts-cont {
  position: relative;
  display: flex;
  background-color: #242424;
  font-family: "Nunito";
  color: #fff !important;
}

.rnb-contacts-cont a {
  color: #fff !important;
}

.rnb-contacts-cont .info .title {
  padding: 70px 0;
  font-family: "Palatino";
  font-size: 36px;
  color: #fff;
}

.rnb-contacts-cont .info .point {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rnb-contacts-cont .info .point svg {
  margin-right: 15px;
}

.rnb-contacts-cont .info .sub-title {
  margin-top: 40px;
  margin-bottom: 25px;
}

.rnb-contacts-cont .info .soc {
  display: flex;
  gap: 30px;
  margin-bottom: 150px;
}

.rnb-contacts-cont #map {
  width: 65%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.modal .close {
  border: none !important;
  background-color: transparent !important;
}

.modal-body > div {
  display: none;
}

.modal-body > div > button {
  background: none;
  border: none;
  font-family: "Nunito";
  margin-bottom: 80px;
}

.modal-body > div.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body .form-submit button {
  margin: 30px auto;
}

.no-webp .rnb-htb-cont {
  background-image: url(../img/howToBuy.png); }

.rnb-htb-cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  font-family: "Nunito";
  color: #fff !important;
  font-size: 18px;
  font-weight: lighter;
  padding: 140px 0;
}

.rnb-htb-cont a {
  color: #fff !important;
  text-decoration: underline !important;
  text-underline-offset: 3px;
  font-weight: 500;
}

.rnb-htb-cont .point {
  text-align: center;
}

.rnb-htb-cont .point:not(:last-child) {
  margin-bottom: 7px;
}

.rnb-htb-cont .sub-title {
  margin-bottom: 30px;
  font-family: "Palatino";
  font-size: 36px;
  color: #fff;
}

.profile_info {
  position: relative;
}

.profile-user-exit {
  border: none;
  background: none;
  padding: 0;
  font-family: "Nunito";
  position: absolute;
  bottom: 20px;
}

.cng-btn {
  min-width: 200px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #242424;
  color: #242424;
}

.cng-btn-photo {
  margin-bottom: 20px;
  background-color: #242424;
  color: #fff;
}

.profile_forms .form-group {
  margin-bottom: 10px;
}

.select-sex span {
  min-width: 200px;
  max-width: 100%;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EFEFEF;
  color: #242424;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}

.select-sex input:checked ~ span {
  border: 1px solid #242424;
  background-color: #242424;
  color: #fff;
}

.select-sex label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.select-sex input:checked ~ span {
  border: none;
}

.profile-links button {
  display: block;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #BFBFBF;
  padding-left: 13px;
  border: none;
  background: none;
}

.profile-links button:last-child {
  margin-bottom: 0;
}

.world-trends,
.actuals {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.world-trends {
  aspect-ratio: 41/100;
}

.actuals {
  aspect-ratio: 50/61;
}

.profile-wrapper img {
  height: 216px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 243/216;
}

.pl-0 {
  padding-left: 0 !important;
}

.profile-wrapper {
  height: 100%;
}

.profile-wrapper > div {
  height: 100%;
}

.profile-links button.active {
  position: relative;
  padding-left: 34px;
  color: #242424;
}

.profile_list-wrapper {
  padding: 30px 0 0 0;
  border-top: none;
}

.tabcont {
  display: none;
}

.profile-links {
  padding-left: 10px !important;
}

.fav-stat {
  display: flex;
  align-items: center;
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  margin-left: 20px;
}

.profile-links button.active:before {
  width: 26px;
  height: 1px;
  background-color: #242424;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
}

.save_first {
  margin-left: 20px !important;
}

.section-who-partner_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.care_block .section-who-partner_desc {
  display: block;
}

.header-navs .btn-sale {
  display: inline-block;
  white-space: nowrap;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.item-list .item {
  width: 25%;
  background-color: #fff;
  color: #242424 !important;
  display: flex;
  flex-direction: column;
  border: 1px solid #efefef;
  font-family: "Nunito";
}

.item-list .item img {
  width: 100%;
  aspect-ratio: 282/346;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-list .item .item-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.item-list .item .item_articul {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 10px;
}

.item-list .item .item_name {
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
  color: #242424 !important;
  flex-grow: 1;
}

.item-list .item .item_name:hover {
  text-decoration: underline !important;
}

.item-list .item .item_price {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}

.item-list .item .add-sale {
  min-width: 200px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #242424;
  color: #242424;
  background-color: #fff;
  margin-bottom: 15px;
}

.item-list .item .add-sale:hover {
  color: #fff;
  background-color: #242424;
}

.item-list .item .prod-add-cont {
  width: 100%;
  aspect-ratio: 282/346;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list .item .prod-add-text {
  color: #242424;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.item-list .item:hover .prod-add-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-title {
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: "Palantino";
  font-size: 36px;
  color: #626262;
}

.search-title span {
  color: #000000;
}

.search-sell {
  padding-bottom: 100px;
}

.search-cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-cont .sell-card {
  display: flex;
  width: calc((100% - 100px) / 3);
  background: #f8f8f8;
  padding: 10px 30px 10px 10px;
  margin-bottom: 50px;
}

.search-cont .sell-card:not(:nth-child(3n)) {
  margin-right: 50px;
}

.search-cont .sell-card .sell-right {
  margin-left: 30px;
}

.search-cont .sell-card .sell-name {
  font-family: "Palantino";
  font-size: 36px;
  color: #000000;
}

.search-cont .sell-card .sell-reg {
  font-family: "Nunito";
  font-weight: lighter;
  color: #646464;
  margin-bottom: 10px;
  font-size: 14px;
}

.search-cont .sell-card .sell-count {
  font-family: "Nunito";
  font-weight: lighter;
  color: #000;
  font-size: 16px;
}

.search-cont .sell-card .sell-count span {
  font-weight: bolder;
}

.search-cont .sell-card img {
  width: 120px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 50px;
}

.video-content {
  width: 100%;
}

.video_description {
  margin-left: 0;
  margin-right: 0;
}

.catalog.items .item {
  max-width: 302px;
  background-color: #fff;
  color: #242424 !important;
  display: flex;
  flex-direction: column;
  border: 1px solid #efefef;
  font-family: "Nunito";
}

.catalog.items .item img {
  width: 100%;
  aspect-ratio: 302/346;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog.items .item:not(:nth-child(4n)) {
  border-right: none;
}

.catalog.items .item .item-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none !important;
  flex-grow: 1;
}

.catalog.items .item .item_old_price {
  margin-bottom: 10px;
}

.catalog.items .item .item_articul {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 10px;
}

.catalog.items .item .item_name {
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
  color: #242424 !important;
  flex-grow: 1;
}

.catalog.items .item .item_name:hover {
  text-decoration: underline !important;
}

.add-prod-form {
  margin-bottom: 100px;
}

.add-prod-form label {
  margin-top: 10px;
}

.add-prod-form .form-textarea {
  flex-grow: 1;
  max-height: 311px;
  display: flex;
  flex-direction: column;
}

.add-prod-form textarea {
  resize: none;
  flex-grow: 1;
  max-height: none;
}

.add-prod-form .rnb-sub-title {
  padding: 50px 0;
  font-family: "Palatino";
  font-size: 36px;
  color: #242424;
}

.add-prod-form .top-cont {
  display: flex;
  justify-content: space-between;
}

.add-prod-form .top-cont .tt-cont {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
}

.add-prod-form .top-cont .tt-cont:last-child {
  justify-content: space-between;
}

.add-prod-form .top-cont .tt-cont .img-add-contt {
  display: flex;
  flex-wrap: wrap;
}

.add-prod-form .top-cont .tt-cont .img-cont {
  width: calc((100% - 40px) / 3);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.add-prod-form .top-cont .tt-cont .img-cont:not(:nth-child(3n)) {
  margin-right: 20px;
}

.add-prod-form .top-cont .tt-cont .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.add-prod-form .top-cont .tt-cont .img-cont button {
  border: none;
}

.add-prod-form .top-cont .tt-cont .img-cont .empty-img {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-prod-form .top-cont .tt-cont .img-cont .add-img {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-prod-form .upload {
  width: 100%;
  height: 100%;
}

.add-prod-form .select-condition {
  display: flex;
  flex-direction: column;
}

.add-prod-form .select-condition label {
  width: calc(50% - 10px);
  max-width: 493px;
}

.add-prod-form .select-condition span {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #242424;
  color: #242424;
  margin-right: 20px;
  cursor: pointer;
}

.add-prod-form .select-condition span .title-cont {
  display: flex;
  align-items: center;
}

.add-prod-form .select-condition span .title-cont svg {
  display: none;
  margin-right: 15px;
}

.add-prod-form .select-condition span .title-cont .title {
  font-size: 32px;
}

.add-prod-form .select-condition input:checked ~ span {
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  color: #242424;
}

.add-prod-form .select-condition input:checked ~ span svg {
  display: block;
}

.add-prod-form .select-condition label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.add-prod-form .two-inputs-cont {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 493px;
}

.add-prod-form .sub-info-price {
  margin-top: 15px;
  font-weight: lighter;
  color: #242424;
}

.add-prod-form .sub-info-price a {
  font-weight: bold;
  color: #242424;
  text-decoration: underline !important;
  text-underline-offset: 3px;
}

.add-prod-form .inpt-row {
  display: flex;
}

.add-prod-form .inpt-row > div:first-child {
  margin-right: 20px;
}

.add-prod-form button[type=submit] {
  margin-top: 15px;
  min-width: 200px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #242424;
  margin-bottom: 15px;
  color: #fff;
  background-color: #242424;
}

.add-prod-form .slct {
  outline: none !important;
  position: relative;
}

.add-prod-form .slct input {
  outline: none !important;
}

.add-prod-form .slct .dropdownn {
  outline: none !important;
  cursor: pointer;
}

.add-prod-form .slct .dropdownn .select {
  border: 1px solid #EFEFEF;
  padding: 15px;
  font-family: "Nunito", sans-serif;
  height: 100%;
  max-height: 53px;
  font-style: normal;
  background-color: transparent;
  border-radius: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-prod-form .slct .dropdownn .select > svg {
  margin-left: 10px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.add-prod-form .slct .dropdownn.active .select > svg {
  transform: rotate(-180deg);
}

.add-prod-form .slct .dropdownn .dropdownn-menu {
  position: absolute;
  border: 1px solid #EFEFEF;
  border-top: none;
  z-index: 9;
  border-radius: 0;
  display: none;
  padding: 0;
  list-style: none;
  cursor: unset;
  width: 100%;
}

.add-prod-form .slct .dropdownn .dropdownn-menu > div {
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 5px;
  margin: 0 !important;
}

.add-prod-form .slct .dropdownn .dropdownn-menu > div:hover {
  background-color: #f8f8f8;
}

.recovery-screen {
  display: none;
}

.recovery-screen.active {
  display: block;
}

.text-mail {
  font-family: "Nunito";
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: -30px;
}

.lk {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.lk .form-group {
  margin-bottom: 15px;
}

.lk button {
  min-width: 200px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #242424;
}

.lk button.btn-next {
  color: #fff;
  background-color: #242424;
}

.lk button.btn-prev {
  color: #242424;
  background-color: #fff;
  margin-bottom: 15px;
}

.sub-mit {
  max-width: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #242424;
  color: #242424;
  background-color: #fff;
  margin-bottom: 10px;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  margin-left: 10px;
}

.hw-pad {
  position: relative;
  width: 100%;
}

.how_work-padding.swiper {
  display: flex;
  position: absolute;
  width: 100%;
  background: #fff;
}

.how_work_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how_work_item-text {
  width: calc(100% - 10px);
}

.video-btn.active {
  background: #242424 !important;
  color: #fff !important;
}

.video-btn {
  background: #fff !important;
  color: #242424 !important;
}

.how_work_buttons button {
  margin-top: 0;
  min-width: 298px;
  background: 0 0;
  color: #242424;
  border: 1px solid #242424;
}

#saleModal .sale-title {
  width: 100%;
  text-align: center;
  padding: 40px 0 30px 0;
  font-family: Palatino;
  font-size: 36px;
  color: #242424;
}

#saleModal .modal-body {
  padding: 0;
}

#saleModal .item {
  width: 282px;
  background-color: #f8f8f8;
  color: #242424 !important;
  border: 1px solid #efefef;
  font-family: "Nunito";
}

#saleModal .item img {
  width: 100%;
  aspect-ratio: 282/346;
  -o-object-fit: cover;
     object-fit: cover;
}

#saleModal .item .item-border {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#saleModal .item .item_articul {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 10px;
}

#saleModal .item .item_name {
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
  color: #242424 !important;
}

#saleModal .item .item_name:hover {
  text-decoration: underline !important;
}

#saleModal .item .item_price {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}

#saleModal .item .add-sale {
  min-width: 200px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #242424;
  color: #242424;
  background-color: #fff;
  margin-bottom: 15px;
}

#saleModal .item .add-sale:hover {
  color: #fff;
  background-color: #242424;
}

#saleModal .item .prod-add-cont {
  width: 100%;
  aspect-ratio: 282/346;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}

#saleModal .item .prod-add-text {
  color: #242424;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

#saleModal .item:hover .prod-add-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

#saleModal .modal-form {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#saleModal .modal-form .salee-title {
  width: 100%;
  text-align: center;
  padding: 25px 0 20px 0;
  font-family: Palatino;
  font-size: 36px;
  color: #242424;
}

#saleModal .modal-form .form-submit button {
  margin: 15px auto 40px auto;
}

#saleModal .modal-form .select-sale span {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #242424;
  color: #242424;
  text-align: center;
  cursor: pointer;
}

#saleModal .modal-form .select-sale {
  display: flex;
  justify-content: center;
  width: 510px;
  flex-wrap: wrap;
}

#saleModal .modal-form .select-sale label:not(:nth-child(5n)) span {
  border-right: none;
}

#saleModal .modal-form .select-sale label:nth-child(n+6) span {
  border-top: none;
}

#saleModal input:checked ~ span {
  border: 1px solid #242424;
  background-color: #242424;
  color: #fff !important;
}

#saleModal .select-sale label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.sizes {
  max-width: 493px;
  width: 100%;
  /* Customize the label (the container) */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* When the checkbox is checked, add a blue background */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.sizes .size-row {
  display: flex;
  width: 100%;
}

.sizes .size-row:not(:last-child) {
  margin-bottom: 10px;
}

.sizes .size-row .size-block {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.sizes .size-row .size-block:first-child {
  width: 10em;
}

.sizes .size-row .size-block:last-child {
  flex-grow: 1;
}

.sizes .size-row .size-block .size-label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #646464;
}

.sizes .size-check {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  height: 100%;
  margin-top: 0;
  padding: 15px;
  padding-left: 35px;
}

.sizes .size-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sizes .size-check .checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizes .size-check input:checked ~ .checkmark {
  background-color: #242424;
  border: 1px solid #242424;
}

.sizes .size-check input:checked ~ .checkmark:after {
  display: block;
}

.sizes .size-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

#prodModal .modal-dialog {
  max-width: none;
  height: auto;
  margin: 0;
  width: 100vw;
}

#prodModal .modal-dialog .modal-content {
  padding: 100px;
}

#prodModal form {
  margin-top: 40px;
  display: flex;
}

#prodModal form button {
  max-width: 464px;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  border: 1px solid #242424;
  color: #FFFFFF;
  font-family: "Nunito";
  font-size: 30px;
}

#prodModal form button:first-child {
  background: #1CCC38;
  margin-right: 16px;
}

#prodModal form button:last-child {
  background: #D01919;
}

.product_images {
  display: flex;
  flex-wrap: wrap;
  padding-right: 50px;
}

.product_image {
  width: calc((100% - 16px) / 2);
  aspect-ratio: 1/1;
  max-width: none;
  margin-right: 0;
}

.product_image:not(:nth-child(2n)) {
  margin-right: 16px;
}

.product_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product_sizes .label {
  font-family: "Nunito";
  font-weight: 600;
  color: #242424;
  font-size: 16px;
  margin-bottom: 10px;
}

.product_sizes .select-size span {
  width: 57px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EFEFEF;
  color: #242424;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: lighter;
}

.product_sizes input:checked ~ span {
  border: 1px solid #242424;
  background-color: #242424;
  color: #fff;
}

.product_sizes .select-size label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.product_sizes input:checked ~ span {
  border: none;
}

.product_sizes .product_cart {
  margin-top: 25px;
}

art-page {
  margin-bottom: 50px;
}

art-page .cart-hid {
  display: none !important;
}

art-page .cart-cont-empty {
  padding: 15em 0;
  display: flex;
  justify-content: center;
}

art-page .cart-cont-empty .center-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

art-page .cart-cont-empty .center-cont .title {
  font-family: "Palantino";
  font-size: 36px;
  margin-bottom: 50px;
}

art-page .cart-cont-empty .center-cont a {
  width: 100%;
  max-width: 298px;
  text-align: center;
  padding: 14px 0;
  font-family: "Nunito";
  font-size: 16px;
  color: #fff;
  background-color: #242424;
}

art-page .cart-cont-main .cart-contt {
  display: flex;
}

art-page .cart-cont-main .cart-contt .cart-inputs .form-group {
  margin-bottom: 10px;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww {
  display: flex;
  margin-bottom: 50px;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww.f-roww {
  margin-bottom: 20px;
  font-family: "Nunito";
  color: #b6b6b6;
  font-size: 16px;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod {
  display: flex;
  align-items: center;
  font-family: "Nunito";
  font-size: 20px;
  font-weight: lighter;
  color: #242424;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod img {
  width: 128px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod .title {
  margin-right: 100px;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod:hover .title {
  text-decoration: underline;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod .pr-prod-cont .price {
  display: none;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod .pr-prod-cont .remove {
  display: none;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-count {
  display: flex;
  align-items: center;
  font-family: "Nunito";
  color: #242424;
  font-size: 16px;
  justify-content: flex-end;
  position: relative;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-count .count {
  border: none;
  margin-right: 10px;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-count .counters {
  display: flex;
  flex-direction: column;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-count .counters input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-count .counters .c-minus,
art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-count .counters .c-plus {
  height: 33px;
  aspect-ratio: 1/1;
  color: #242424;
  border: 1px solid #242424;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-count .counters .c-minus:hover,
art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-count .counters .c-plus:hover {
  background-color: #242424;
  color: #fff;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-count .counters .c-minus {
  margin-top: 10px;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-price .remove {
  margin-right: 100px;
  cursor: pointer;
}

art-page .cart-cont-main .cart-contt .cart-total .title {
  font-family: "Palantino";
  font-size: 36px;
  margin-bottom: 25px;
}

art-page .cart-cont-main .cart-contt .cart-total .prod-price {
  font-family: "Nunito";
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}

art-page .cart-cont-main .cart-contt .cart-total .doted {
  flex-grow: 1;
  height: 1px;
  margin-bottom: 6px;
  margin-left: 7px;
  margin-right: 7px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='1' viewBox='0 0 8 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.672 0.848C0.544 0.848 0.432 0.805333 0.336 0.72C0.250667 0.645333 0.208 0.549333 0.208 0.432C0.208 0.314667 0.250667 0.213333 0.336 0.128C0.432 0.0426667 0.544 0 0.672 0H7.328C7.456 0 7.56267 0.0426667 7.648 0.128C7.744 0.213333 7.792 0.314667 7.792 0.432C7.792 0.549333 7.744 0.645333 7.648 0.72C7.56267 0.805333 7.456 0.848 7.328 0.848H0.672Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A");
  background-repeat: repeat;
  background-size: 10px 1px;
}

art-page .cart-cont-main .cart-contt .cart-total .pr-name {
  display: flex;
  align-items: flex-end;
}

art-page .cart-cont-main .cart-contt .cart-total .pr-name div:first-child {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

art-page .cart-cont-main .cart-contt .cart-total .total-price {
  font-family: "Nunito";
  font-size: 16px;
  margin-bottom: 50px;
  align-items: flex-end;
  font-weight: 600;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

art-page .cart-cont-main .cart-contt .cart-total button {
  width: 100%;
  max-width: 200px;
  text-align: center;
  padding: 14px 0;
  font-family: "Nunito";
  font-size: 16px;
  color: #fff;
  background-color: #242424;
}

.abt-title {
  padding: 50px 0 75px 0 !important;
}

.reasons-title {
  margin-bottom: 70px !important;
}

.section-who-partner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-who-partner_desc {
  max-width: 830px !important;
}

.section-who-partner_desc p:first-child {
  max-width: 575px !important;
}

.accordion-item:first-of-type {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.accordion-item {
  background: none !important;
  background-color: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-right: none;
  border-left: none;
}

.accordion-item div,
.accordion-item button {
  background: inherit !important;
  background-color: inherit !important;
}

.accordion-button {
  cursor: pointer;
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #242424 !important;
}

.accordion-button::after {
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='12' width='28' height='4' fill='%23242424'/%3E%3Crect x='12' y='28' width='28' height='4' transform='rotate(-90 12 28)' fill='%23242424'/%3E%3C/svg%3E%0A") !important;
}

.accordion-button:not(.collapsed)::after {
  transform: none !important;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='4' viewBox='0 0 28 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='28' height='4' fill='%23242424'/%3E%3C/svg%3E%0A") !important;
}

.footer-two a {
  margin-left: 0;
}

.footer .row {
  height: auto !important;
}

.footer .row .before-line {
  padding: 0 50px;
}

.footer .row .before-line:first-child {
  padding-left: 0;
}

.footer .row .before-line::after {
  right: 0 !important;
  height: calc(100% + 30px);
  top: 0 !important;
}

.footer .row .before-line a,
.footer .row .before-line div {
  margin-left: 0;
  margin-right: 0;
}

.footer .row form {
  padding-left: 50px;
}

.footer .row form a,
.footer .row form div,
.footer .row form button,
.footer .row form p {
  margin-left: 0;
  margin-right: 0;
}

.footer .row form .custom-radio:first-child span {
  padding-left: 0;
}

@media (min-width: 576px) {
  .slides .swiper-button-prev {
    left: calc((100vw - 540px) / 2);
  }

  .slides .swiper-button-next {
    right: calc((100vw - 540px) / 2);
  }

  .section_title.bordered:before {
    left: calc((100vw - 540px) / -2);
  }

  .section_title.bordered:after {
    right: calc((100vw - 540px) / -2);
  }

  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .slides .swiper-button-prev {
    left: calc((100vw - 720px) / 2);
  }

  .slides .swiper-button-next {
    right: calc((100vw - 720px) / 2);
  }

  .section_title.bordered:before {
    left: calc((100vw - 720px) / -2);
  }

  .section_title.bordered:after {
    right: calc((100vw - 720px) / -2);
  }

  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .slides .swiper-button-prev {
    left: calc((100vw - 960px) / 2);
  }

  .slides .swiper-button-next {
    right: calc((100vw - 960px) / 2);
  }

  .section_title.bordered:before {
    left: calc((100vw - 960px) / -2);
  }

  .section_title.bordered:after {
    right: calc((100vw - 960px) / -2);
  }

  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .slides .swiper-button-prev {
    left: calc((100vw - 1140px) / 2);
  }

  .slides .swiper-button-next {
    right: calc((100vw - 1140px) / 2);
  }

  .section_title.bordered:before {
    left: calc((100vw - 1140px) / -2);
  }

  .section_title.bordered:after {
    right: calc((100vw - 1140px) / -2);
  }

  .container {
    max-width: 1140px;
  }

  .container {
    max-width: 1180px;
  }
}

@media (min-width: 1366px) {
  .slides .swiper-button-prev {
    left: calc((100vw - 1320px) / 2);
  }

  .slides .swiper-button-next {
    right: calc((100vw - 1320px) / 2);
  }

  .section_title.bordered:before {
    left: calc((100vw - 1320px) / -2);
  }

  .section_title.bordered:after {
    right: calc((100vw - 1320px) / -2);
  }

  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1600px) {
  .slides .swiper-button-prev {
    left: calc((100vw - 1550px) / 2);
  }

  .slides .swiper-button-next {
    right: calc((100vw - 1550px) / 2);
  }

  .section_title.bordered:before {
    left: calc((100vw - 1550px) / -2);
  }

  .section_title.bordered:after {
    right: calc((100vw - 1550px) / -2);
  }

  .container {
    max-width: 1550px;
  }
}

@media (min-width: 1800px) {
  .slides .swiper-button-prev {
    left: 40px;
  }
}

@media (max-width: 1800px) {
  .slides .slide-content {
    justify-content: center;
  }

  .slides .slide-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1600px) {
  .profile_forms .form-group {
    width: calc((100% - 40px) / 2);
  }

  .profile_forms .form-group.profile_forms-save {
    margin-left: 0;
  }

  .footer .row .before-line {
    padding: 0 30px;
  }

  .footer .row form {
    padding-left: 30px;
  }
}

@media (max-width: 1400px) {
  .search-cont .sell-card {
    width: calc((100% - 40px) / 3);
  }

  .search-cont .sell-card:not(:nth-child(3n)) {
    margin-right: 20px;
  }

  .search-cont .sell-card .sell-name {
    font-size: 30px;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod .title {
    margin-right: 50px;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-price .remove {
    margin-right: 50px;
  }

  art-page .cart-cont-main .cart-contt .cart-total .pr-name div:first-child {
    max-width: 200px;
  }
}

@media (max-width: 1366px) {
  .section_title.bordered:before,
  .section_title.bordered:after {
    width: calc((100vw - 260px - 200px) / 2);
  }

  .faq .section_title.bordered:before,
  .faq .section_title.bordered:after {
    width: calc((100vw - 456px - 200px) / 2);
  }
}

@media (max-width: 1365px) {
  .footer .row .before-line {
    padding: 0 10px;
  }

  .footer .row form {
    padding-left: 10px;
  }
}

@media (max-width: 1199px) {
  .header-navs .btn-sale {
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  .actual .item .item_img {
    height: 350px !important;
    background-size: cover;
    background-position: center;
  }

  .logo svg {
    height: 70px;
    width: auto;
  }

  .prod-video {
    min-height: 360px;
    height: auto !important;
  }

  .rnb-title {
    padding: 140px 0 50px 0 !important;
    font-size: 24px;
  }

  .rnb-contacts-cont {
    flex-direction: column;
    background-color: #fff;
    color: #242424 !important;
  }

  .rnb-contacts-cont a {
    color: #242424 !important;
  }

  .rnb-contacts-cont .point svg path {
    fill: #242424;
  }

  .rnb-contacts-cont .info .title {
    display: none;
  }

  .rnb-contacts-cont .info .soc {
    margin-bottom: 50px;
  }

  .rnb-contacts-cont #map {
    position: relative;
    width: 100%;
    height: 500px;
  }

  .rnb-htb-cont {
    font-size: 16px !important;
  }

  .rnb-htb-cont .sub-title {
    font-size: 24px;
  }

  .profile-user_name {
    font-size: 24px;
    line-height: 32px;
  }

  .select-sex {
    display: flex;
    justify-content: space-between;
  }

  .select-sex label {
    width: calc((100% - 20px) / 2);
  }

  .select-sex span {
    width: 100%;
    min-width: auto;
    margin-right: 0 !important;
  }

  .profile_forms-house {
    max-width: 161px;
  }

  .fav-stat {
    font-size: 24px;
    line-height: 32px;
  }

  .profile_name-form {
    font-size: 24px;
    line-height: 32px;
    margin-top: 15px;
  }

  .care_block > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .care_block .section-who-partner_desc {
    display: flex;
  }

  .item-list .item {
    width: 33.3333333333%;
  }

  .search-title {
    margin-top: 140px;
    margin-bottom: 50px;
    font-size: 24px;
  }

  .search-cont .sell-card {
    width: calc((100% - 20px) / 2);
  }

  .search-cont .sell-card:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  .search-cont .sell-card:not(:nth-child(2n)) {
    margin-right: 20px;
  }

  .search-cont .sell-card .sell-name {
    font-size: 24px;
  }

  .search-cont .sell-card img {
    margin-bottom: 30px;
  }

  .product_cart {
    max-width: 300px;
  }

  body.catalog {
    padding-top: 90px !important;
  }

  .catalog.items {
    margin-top: 20px;
  }

  .catalog.items .item {
    max-width: 33.3333333333% !important;
  }

  .catalog.items .item:nth-child(1n) {
    border: 1px solid #efefef;
  }

  .catalog.items .item:not(:nth-child(3n)) {
    border-right: none;
  }

  .add-prod-form .rnb-sub-title {
    font-size: 24px;
    padding: 30px 0;
  }

  .add-prod-form .select-condition span .title-cont .title {
    font-size: 24px;
  }

  .how_work_item-text {
    width: 80%;
  }

  .modal-dialog .modal-header {
    display: flex;
  }

  .product_images {
    display: none;
  }

  .product_image:not(:nth-child(2n)) {
    margin-right: 0px;
  }

  art-page .cart-cont-empty .center-cont {
    width: 100%;
  }

  art-page .cart-cont-empty .center-cont .title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  art-page .cart-cont-main .cart-contt {
    flex-direction: column;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod .title {
    margin-right: 20px;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-price .remove {
    margin-right: 20px;
  }

  art-page .cart-cont-main .cart-contt .cart-total .title {
    font-size: 24px;
    margin-top: 20px;
  }

  art-page .cart-cont-main .cart-contt .cart-total .total-price {
    margin-bottom: 30px;
  }

  .abt-title {
    padding: 140px 0 50px 0 !important;
  }

  .accordion-button {
    font-size: 24px;
    line-height: 32px;
  }

  .footer .row .before-line:nth-child(4) {
    padding-left: 0;
  }

  .footer .row .before-line:nth-child(4)::after {
    content: "";
    right: 0 !important;
    height: 100%;
    top: 0 !important;
  }
}

@media (max-width: 800px) {
  .profile-content > div > div:first-child {
    flex-direction: column-reverse;
  }

  .add-prod-form .top-cont .tt-cont .img-cont {
    width: calc((100% - 20px) / 2);
  }

  .add-prod-form .top-cont .tt-cont .img-cont svg {
    transform: scale(0.7);
  }

  .add-prod-form .top-cont .tt-cont .img-cont:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  .add-prod-form .top-cont .tt-cont .img-cont:not(:nth-child(2n)) {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .modal-dialog {
    min-height: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .modal-dialog .modal-content {
    min-height: 100%;
    height: 100%;
  }

  .modal-dialog .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .modal-dialog .modal-body > div {
    width: 100%;
  }

  #saleModal {
    margin: 0 !important;
    padding: 0 !important;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-price .remove {
    margin-right: 0px;
  }
}

@media (max-width: 550px) {
  .actual .item {
    width: 50% !important;
  }

  .actual .item .item_img {
    height: 300px !important;
  }

  .actual .item:nth-child(3) {
    width: 100% !important;
  }

  .actual .item:nth-child(3) .item_img {
    height: 200px !important;
  }

  .prod-video {
    min-height: 510px;
    height: auto !important;
  }

  .rnb-title {
    padding: 120px 0 30px 0 !important;
  }

  .rnb-contacts-cont #map {
    height: 400px;
  }

  .rnb-htb-cont {
    background-position-x: 59%;
  }

  .rnb-htb-cont .point {
    padding: 0 15px;
  }

  .profile_info {
    padding: 0;
  }

  .profile_change_photo {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }

  .profile_change_photo .cng-btn {
    min-width: auto;
    display: inline-block;
    white-space: nowrap;
    max-width: none;
    padding: 0;
    display: inline-block;
    border: none;
    color: #808080;
    text-decoration: underline;
    text-underline-offset: 3px;
    background-color: #fff;
  }

  .profile_change_photo .cng-btn-photo {
    margin-bottom: 10px;
  }

  .profile_forms .form-group {
    width: 100%;
  }

  .profile_forms .form-group.profile_forms-save {
    margin-left: 0;
  }

  .profile_forms-house {
    max-width: calc((100% - 10px) / 2);
  }

  .profile_forms-house.house-kv {
    margin-left: 10px;
  }

  .profile-links {
    margin-left: -13px;
    margin-right: -13px;
    width: calc(100% + 26px);
    max-width: calc(100% + 26px);
    background-color: #fff;
    border-top: none;
    padding: 0;
    padding-left: 0 !important;
  }

  .profile-links button {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0px;
    width: 100%;
    margin-bottom: 0;
    text-align: left;
    padding: 10px 30px;
  }

  .profile-links button.active:before {
    width: 15px;
    left: 10px;
  }

  .profile-wrapper img {
    height: 91px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  .profile-wrapper {
    background-color: #fff;
    border: none;
  }

  .profile_edit-wrapper {
    border: none;
    padding: 20px 0;
  }

  .profile-links button.active {
    padding-left: 35px;
    font-size: 18px;
    background-color: #f8f8f8;
  }

  .profile_forms-sex,
  .profile_forms-birthday,
  .profile_forms-save,
  .profile_forms-ml20,
  .profile_forms-house {
    margin-left: 0;
  }

  .profile_forms-birthday input,
  .profile_forms-save input {
    width: 100%;
  }

  .profile_name-form {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .profile_name-form a {
    margin-left: 0;
  }

  .input {
    padding: 10px;
    max-height: 40px;
  }

  .custom-wrapper-cards {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile_forms-cards_wrapper {
    border-bottom: 1px solid #efefef;
    align-items: flex-start;
    padding: 20px 0 10px 0;
    margin-bottom: 0;
  }

  .profile_forms-save {
    margin-left: 0 !important;
    width: 100%;
  }

  .profile_forms-save .profile_forms-savebutton {
    width: 100%;
  }

  .section-who-partner_desc {
    padding: 0;
  }

  .item-list .item {
    width: 50%;
  }

  .item-list .item .add-sale {
    min-width: auto;
    max-width: none;
    width: calc(100% - 20px);
  }

  .search-title {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
  }

  .search-cont .sell-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .search-cont .sell-card:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  .search-cont .sell-card:not(:nth-child(2n)) {
    margin-right: 0px;
  }

  .search-cont .sell-card img {
    width: 100px;
  }

  .product_cart {
    max-width: none;
  }

  .catalog.items .item {
    max-width: 50% !important;
  }

  .catalog.items .item:nth-child(1n) {
    border: 1px solid #efefef;
  }

  .catalog.items .item:not(:nth-child(2n)) {
    border-right: none;
  }

  .add-prod-form .form-textarea {
    height: 150px;
  }

  .add-prod-form .top-cont {
    flex-direction: column-reverse;
  }

  .add-prod-form .top-cont .tt-cont {
    width: 100%;
  }

  .add-prod-form .top-cont .tt-cont .img-cont {
    width: calc((100% - 30px) / 4);
  }

  .add-prod-form .top-cont .tt-cont .img-cont:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  .add-prod-form .top-cont .tt-cont .img-cont:not(:nth-child(2n)) {
    margin-right: 0px;
  }

  .add-prod-form .top-cont .tt-cont .img-cont:nth-child(2),
  .add-prod-form .top-cont .tt-cont .img-cont:nth-child(3),
  .add-prod-form .top-cont .tt-cont .img-cont:nth-child(4) {
    margin-right: 10px;
  }

  .add-prod-form .top-cont .tt-cont .img-cont:first-child {
    width: 100%;
  }

  .add-prod-form .select-condition label {
    width: 100%;
  }

  .add-prod-form .inpt-row {
    flex-wrap: wrap;
  }

  .add-prod-form .inpt-row > div {
    width: 100%;
  }

  .add-prod-form .inpt-row > div:first-child {
    margin-right: 0;
  }

  .sub-mit {
    max-width: 100%;
  }

  .how_work_buttons {
    width: 100%;
  }

  .how_work_buttons button {
    min-width: auto;
    width: 50%;
    margin: 0;
    max-width: none;
  }

  #saleModal .sale-title {
    font-size: 24px;
    padding-top: 100px;
  }

  #saleModal .modal-form .salee-title {
    font-size: 24px;
  }

  #saleModal .modal-form .select-sale {
    width: 205px;
    margin: 0 auto;
  }

  #saleModal .modal-form .select-sale label:not(:nth-child(5n)) span {
    border-right: 1px solid #242424;
  }

  #saleModal .modal-form .select-sale label:not(:nth-child(2n)) span {
    border-right: none;
  }

  #saleModal .modal-form .select-sale label:nth-child(n+6) span {
    border-top: 1px solid #242424;
  }

  #saleModal .modal-form .select-sale label:nth-child(n+3) span {
    border-top: 1px solid #242424;
  }

  art-page .cart-cont-empty .center-cont a {
    max-width: none;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww.f-roww {
    display: none;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod img {
    width: 100px;
    margin-right: 10px;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod {
    font-size: 15px;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod .title {
    margin-right: 0px;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod .pr-prod-cont .price {
    display: block;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-prod .pr-prod-cont .remove {
    display: block;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-count .count {
    position: absolute;
    margin-right: 0;
    text-align: center;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-count .counters .c-minus {
    margin-top: 33px;
  }

  art-page .cart-cont-main .cart-contt .cart-prods .roww .cart-prods-price {
    display: none;
  }

  .abt-title {
    padding: 120px 0 30px 0 !important;
  }

  .collapse-block {
    padding: 0;
    margin-bottom: 50px;
  }

  .collapse-block .container {
    padding: 0;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .row > * {
    padding-left: 0;
    padding-right: 0;
  }

  .section-why-buy .col-10 {
    padding: 10px 0 0 20px;
  }

  .accordion-button {
    font-size: 18px;
    line-height: 24px;
    padding: 15px;
  }

  .accordion-body {
    padding: 15px;
  }

  .accordion-button::after {
    width: 17px;
    height: 17px;
  }

  .footer .row form {
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .add-prod-form .slct {
    margin-left: 0;
  }
}

@media (max-width: 350px) {
  .logo svg {
    height: 50px;
    width: auto;
  }

  .video-section video {
    height: 550px;
  }

  .item-list .item {
    width: 100%;
  }

  .catalog.items .item {
    max-width: 100% !important;
  }
}

.webp .rnb-htb-cont { background-image: url(../img/howToBuy.webp); }