.container {
  max-width: 1550px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

.header-icon-margin {
  margin-right: 15px;
}
.header-top {
  height: 46px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #242424;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top-bg {
  background-color: #EEEEEE;
}
.header-top-bottom {
  position: relative;
  z-index: -1;
  background: #f8f8f8;
}
.header-top-bottom_links {
  display: flex;
  justify-content: space-between;
}
.header-top-bottom_links a {
  display: block;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #858585;
  padding: 10px;
  transition: 0.3s all;
  border-top: 1px solid transparent;
}
.header-top-bottom_links a:hover {
  color: #242424;
  border-top: 1px solid #E7E7E7;
}
.header-top-bottom_links a.active {
  border-top: 1px solid #E7E7E7;
  color: #242424;
}
.header-navs {
  display: flex;
  padding-left: 20px;
}
.header-navs-items {
  display: flex;
  max-width: 370px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-navs .btn-sale {
  margin-right: 65px;
}

.email a {
  color: #242424;
  text-decoration: none;
}

.search-form {
  max-width: 493px;
  padding: 8px 0;
  background: #fff;
  height: 53px;
  box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.02);
  transform: translateX(-20px);
}

.search-button {
  background: transparent;
  position: relative;
  left: -10px;
  z-index: 10;
  margin-right: 8px;
}

a {
  text-decoration: none !important;
}

.btn-sale {
  font-family: "Nunito", sans-serif;
  border: 1px solid #242424;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #242424;
  padding: 11px 27px;
}
.btn-sale:hover {
  color: #FFFFFF;
  background: #242424;
}

.custom-input {
  padding-left: 10px;
  margin-left: 20px;
}

.custom-select {
  background: #fff url("data:image/svg+xml,%3Csvg width='6' height='5' viewBox='0 0 6 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 5L5.88675 1.26184e-07L0.113249 -1.26184e-07L3 5Z' fill='%23646464'/%3E%3C/svg%3E%0A") right 0.65rem center/8px 10px no-repeat;
  background-position-y: 16px;
  padding-left: 17px;
}

.catalog-input {
  position: relative;
}
.catalog-input:after {
  content: "";
  width: 1px;
  height: 31px;
  display: block;
  right: -10px;
  top: 3px;
  z-index: 2;
  background-color: #A19B9B;
  position: absolute;
}

*:focus {
  outline: 0;
  box-shadow: none !important;
}

.slides {
  height: 823px;
  max-height: 100%;
}
.slides .slide {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 823px;
  max-height: 100%;
}
.slides .slide-content {
  height: 100%;
}
.slides .slide-title {
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 130px;
  color: #FFFFFF;
}
.slides .slide-btn {
  border: 1px solid #fff;
  padding: 12px 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
  min-width: 237px;
  display: block;
  max-width: max-content;
}

.section {
  padding: 100px 0 0 0;
}
.section-recomendation {
  padding: 74px 0 0 0;
}
.section_title {
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  margin-bottom: 60px;
}
.section_title.bordered {
  position: relative;
}
.section_title.bordered:after, .section_title.bordered:before {
  content: "";
  width: 44.5%;
  height: 1px;
  position: absolute;
  background: #D1D1D1;
  top: 50%;
}
.section_title.bordered:after {
  right: -200px;
}
.section_title.bordered:before {
  left: -200px;
}

.catalog.items .item {
  max-width: 302px;
}
.catalog.items .item-border {
  border: 1px solid #EFEFEF;
  text-align: center;
  padding: 10px 0;
}
.catalog.items .item_articul {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: #646464;
}
.catalog.items .item_name {
  max-width: 196px;
  margin: 2px auto 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
}
.catalog.items .item_old_price {
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: line-through;
  color: #646464;
}
.catalog.items .item_new_price {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #242424;
}

.add-cart > svg {
  margin-left: 32px;
}

.swiper-button-disabled {
  display: none;
}

.swiper-button-next, .swiper-button-prev {
  width: 120px;
  right: 210px;
}
.swiper-button-next:after, .swiper-button-prev:after {
  content: "";
}

.swiper-horizontal > .swiper-scrollbar {
  background: #A19B9B;
  height: 1px;
  bottom: 5px;
  width: 100%;
  left: 0;
}

.swiper-scrollbar-drag {
  height: 5px;
  top: -2px;
  background: #242424;
  border-radius: 0;
}

.catalog-slides {
  padding-bottom: 25px;
}

.categories_item {
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  max-height: 100%;
  height: 340px;
  padding-left: 30px;
  padding-top: 230px;
}
.categories_name, .categories_description {
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
.categories_name {
  font-family: "Palatino";
  font-size: 40px;
  line-height: 54px;
}
.categories_description {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.trends {
  padding-bottom: 30px;
}
.trends .item {
  max-width: 283px;
}
.trends .item_brand {
  margin-top: 20px;
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.trends .item_category {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  margin-top: 5px;
}

video {
  width: 100%;
  max-height: 670px;
  object-fit: cover;
}

.video-section {
  position: relative;
  max-height: 670px;
}
.video-content {
  top: calc(50% - 150px);
  position: absolute;
}
.video_title {
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #242424;
}
.video_description {
  margin-top: 20px;
  max-width: 652px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
}
.video_btn {
  margin-top: 40px;
  display: block;
  max-width: max-content;
  padding: 14px 0;
  min-width: 212px;
  background: #242424;
  color: #FFFFFF;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  transition: 0.3s all;
}
.video_btn:hover {
  background-color: #fff;
  color: #242424;
}

.blend-mode-video {
  width: 100%;
  height: 100%;
  background: rgba(203, 198, 197, 0.5);
  position: absolute;
  top: 0;
  mix-blend-mode: multiply;
  pointer-events: none;
  left: 0;
}

.actual {
  display: flex;
  flex-wrap: wrap;
}
.actual .item {
  max-width: 504px;
  width: 100%;
}
.actual .item_title {
  text-align: center;
  margin-top: 15px;
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}
.actual .item_description {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #242424;
}

.how_work {
  background: #F8F8F8;
  margin-top: 100px;
}
.how_work-padding {
  padding: 100px 0;
}
.how_work_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0;
}
.how_work_content {
  display: flex;
  justify-content: space-around;
}
.how_work_item {
  max-width: 255px;
  text-align: center;
  position: relative;
}
.how_work_item:after {
  content: "";
  width: 1px;
  background: #EFEFEF;
  height: 146px;
  position: absolute;
  right: -65px;
  top: 22%;
}
.how_work_item:last-child:after {
  content: unset;
}
.how_work_item-image {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 82px;
  background: #242424;
  border-radius: 50px;
}
.how_work_item-title {
  margin-top: 15px;
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #242424;
}
.how_work_item-text {
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #242424;
}
.how_work_title {
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #242424;
}
.how_work_description {
  margin: 20px 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #242424;
  max-width: 814px;
}
.how_work_buttons {
  display: flex;
  margin-top: 20px;
}
.how_work_buttons a {
  margin-top: 0;
  min-width: 298px;
  background: transparent;
  color: #242424;
  border: 1px solid #242424;
}
.how_work_buttons a.active {
  background: #242424;
  color: #FFFFFF;
}

#sticker {
  background-color: #F8F8F8;
  padding: 50px 0;
}

.footer {
  background-color: #242424;
  padding: 96px 0;
}
.footer .before-line {
  position: relative;
}
.footer .before-line:after {
  content: "";
  width: 1px;
  height: 247px;
  display: block;
  position: absolute;
  right: 30px;
  top: -45px;
  background: #303030;
}
.footer .row {
  height: 155px;
}
.footer-two {
  background-color: #1E1E1E;
  padding: 22px 0;
}
.footer-two-container {
  display: flex;
  justify-content: center;
}
.footer-two a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  padding: 0 75px;
  color: #8E8E8E;
  border-right: 1px solid #303030;
}
.footer-two a svg {
  margin-left: 15px;
}
.footer-two a:last-child {
  border-right: 0;
}
.footer-two a:hover {
  color: #FFFFFF;
  text-decoration: underline !important;
}
.footer-two .row {
  justify-content: center;
  align-items: center;
}
.footer-title {
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 10px;
}
.footer a {
  display: block;
  margin-left: 10px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #8E8E8E;
  max-width: max-content;
}
.footer a:hover {
  color: #FFFFFF;
  text-decoration: underline !important;
}
.footer .input-group-text, .footer input[type=email] {
  background-color: #FFFFFF;
  border-radius: 0;
  border: 0;
  max-width: 227px;
}
.footer .input-group {
  margin-left: 10px;
}

label.custom-radio {
  margin-bottom: 10px;
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #8E8E8E;
}
label.custom-radio input {
  position: absolute;
  left: -9999px;
}
label.custom-radio input:checked + span:before {
  box-shadow: inset 0 0 0 3px #242424;
  background: white;
  border: 1px solid white;
}
label.custom-radio span {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 99em;
  transition: 0.25s ease;
}
label.custom-radio span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #8E8E8E;
}

.subscribe {
  margin-left: 10px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.categ-blocks {
  display: flex;
  flex-wrap: wrap;
}
.categ-blocks .categories_item {
  width: 50%;
}

.swiper-pagination-bullet {
  background: #BFBFBF;
}

.swiper-pagination-bullet-active {
  background: #323232;
}

.mobile {
  display: none;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.header-wrapper {
  display: none;
}

.menu_bottom {
  display: none;
}

.header-navs-items svg path:hover {
  fill: #242424;
}

.dropdown-menu {
  box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.02);
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  min-width: 140px;
}
.dropdown-item {
  position: relative;
  padding: 15px 20px;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #242424;
}
.dropdown-item::after {
  content: "";
  width: calc(100% - 40px);
  height: 0.7px;
  background-color: #EFEFEF;
  position: absolute;
  bottom: 0;
  display: block;
}

.z-position {
  z-index: 2;
  position: relative;
}

.filter {
  display: flex;
}
.filter .item {
  max-width: 282px !important;
}
.filter .item_img {
  width: 100%;
}

.breadcrumb {
  padding: 8px;
  margin-bottom: 0;
  background-color: transparent;
}
.breadcrumb-wrapper {
  margin-top: 30px;
  border-bottom: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
  margin-bottom: 40px;
}
.breadcrumb-item {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #858585;
}
.breadcrumb-item:hover, .breadcrumb-item.active a {
  text-decoration: underline !important;
  color: #242424;
}
.breadcrumb-item a {
  color: #858585;
}
.breadcrumb-item a:hover {
  color: #242424;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: url("data:image/svg+xml,%3Csvg width='20' height='1' viewBox='0 0 20 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='0.8' x2='20' y2='0.8' stroke='%23858585' stroke-width='0.4'/%3E%3C/svg%3E%0A");
  padding: 0 20px;
  position: relative;
  top: -3px;
}

.irs--square .irs-handle {
  border-radius: 100%;
  background-color: #000 !important;
}

.irs {
  height: 100%;
}

.irs--square {
  height: 27px !important;
}

.irs--square .irs-line, .irs--square .irs-bar {
  height: 2px !important;
  top: 0;
}

.irs--square .irs-handle {
  top: -6px !important;
  width: 12px !important;
  height: 12px !important;
}

.irs--square .irs-bar, .irs--square .irs-line {
  top: 0 !important;
}

.irs--square .irs-min, .irs--square .irs-max {
  top: 15px !important;
  visibility: visible !important;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px !important;
  line-height: 20px !important;
  color: #242424 !important;
  background: transparent !important;
  padding: 0 5px !important;
}

.filters_block {
  border: 1px solid #EFEFEF;
}
.filters_brands {
  max-height: 400px;
}
.filters_brands .swiper-slide {
  height: 25px !important;
  margin-bottom: 15px;
}
.filters_content {
  display: none;
}
.filters_content.active {
  display: block;
}
.filters_title {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #242424;
  background-color: #F8F8F8;
  padding: 18px 20px;
  background-position: 93%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #EFEFEF;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 10L11.7735 2.52368e-07L0.226497 -2.52368e-07L6 10Z' fill='%23242424'/%3E%3C/svg%3E%0A");
}
.filters_title.active {
  border-bottom: 1px solid transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0L11.7735 10L0.226497 10L6 0Z' fill='%23242424'/%3E%3C/svg%3E%0A");
}
.filters_range {
  margin: 20px 0;
  padding: 0 21px;
}

.option {
  display: block;
  max-width: max-content;
}

/* Check */
.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='24' height='24' stroke='%23E0E0E0'/%3E%3C/svg%3E%0A");
  background-size: 100%;
}
.check__box-text {
  margin-left: 40px;
}

/* Checked */
.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='23' fill='%23242424'/%3E%3Cpath d='M9.5 18L2 10.3236L3.17833 9.11758L9.5 15.5871L20.8217 4L22 5.20604L9.5 18Z' fill='white'/%3E%3C/svg%3E%0A");
}
.check__input:active + .check__box {
  opacity: 0.8;
}

/* Active */
.swiper-wrapper.disabled {
  transform: translate3d(0px, 0, 0) !important;
}

.swiper-pagination.disabled {
  display: none;
}

.display-mobile {
  display: none;
}

.pagination {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.pagination a {
  display: block;
  padding: 4px 10px;
  margin-right: 25px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
  border: 1px solid #242424;
  transition: 0.2s all;
}
.pagination a.active, .pagination a:hover {
  background-color: #242424;
  color: #FFFFFF;
}
.pagination a:last-child {
  margin-right: 0;
}

.filter-padding {
  padding-bottom: 100px;
}

.garantee-section {
  padding: 15px 0 0 0;
}
.garantee-section .video-content {
  top: calc(50% - 95px);
}
.garantee-section .video_description {
  max-width: 574px;
}
.garantee-padding {
  padding: 40px 0;
}
.garantee-padding .how_work_description {
  max-width: 470px;
  margin-bottom: 10px;
}

.filter .item_img img {
  width: 100%;
}
.filter_reset {
  margin-top: 15px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-decoration-line: underline !important;
  color: #646464;
  display: block;
}
.filter_sale_btn {
  display: block;
  max-width: max-content;
  padding: 14px 45px;
  background: #242424;
  color: #FFFFFF !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto;
}

.modal-backdrop {
  backdrop-filter: blur(6px);
  background-color: rgba(36, 36, 36, 0.21);
}
.modal_footer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal_footer a {
  font-size: 16px;
  line-height: 22px;
}
.modal-form {
  max-width: 493px;
  width: 100%;
  margin: 39px auto 0 auto;
}
.modal-form .form-group {
  margin-bottom: 10px;
}
.modal-title {
  width: 100%;
  text-align: center;
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #242424;
  margin-top: 82px;
}
.modal-header {
  border: 0;
}
.modal-content {
  background-color: #F8F8F8;
  border: none;
  border-radius: 0;
}
.modal-dialog {
  max-width: 800px;
}
.modal .close {
  opacity: 1;
  margin: unset;
  position: absolute;
  right: 26px;
  top: 26px;
  z-index: 2;
}
.modal .close:hover {
  opacity: 0.5;
}

.input {
  border: 1px solid #EFEFEF;
  padding: 15px;
  font-family: "Nunito", sans-serif;
  height: 100%;
  max-height: 53px;
  font-style: normal;
  background-color: transparent;
  border-radius: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
}

.label {
  margin-bottom: 5px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #646464;
}

.password-show-hide .input-group-text {
  z-index: 3;
  position: absolute;
  right: 0;
  top: calc(50% - 17px);
}

.eventShowPass {
  cursor: pointer;
}

.form-submit button {
  display: block;
  max-width: max-content;
  margin: 30px auto 110px auto;
  border: 0;
  background-color: #242424;
  padding: 16px 78px;
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.swiper-slide-thumb-active {
  opacity: 1;
}

.product_desc {
  margin-top: 10px;
  line-height: 22px;
  color: #242424;
  font-weight: 300;
}
.product_characteristic-content {
  margin-bottom: 30px;
}
.product_characteristic-content .info {
  display: flex;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  margin-bottom: 10px;
}
.product_characteristic-content .info:first-child {
  margin-top: 10px;
}
.product_characteristic .dotts {
  color: #CCCCCC;
}
.product_like {
  display: block;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline !important;
  text-decoration-skip-ink: none;
  color: #242424;
}
.product_like svg {
  margin-right: 30px;
}
.product_prices .item_new_price {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 27px !important;
}
.product_prices, .product_sizes, .product_like, .product_cart {
  margin-top: 30px;
}
.product_articul {
  margin-top: 5px;
}
.product_name {
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  max-width: 332px;
}
.product_cart {
  min-width: 200px;
  text-align: center;
  border: 1px solid transparent;
}
.product_cart:hover {
  background-color: transparent;
  color: #242424 !important;
  border: 1px solid #242424;
}
.product_sizes span {
  display: block;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  margin-bottom: 10px;
}
.product_size {
  min-width: 57px;
  display: inline;
  justify-content: center;
  align-items: center;
  padding: 14px 6px;
  background-color: transparent;
  border: 1px solid #DEDEDE;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #242424;
}
.product_size:focus {
  background: #242424;
  color: #FFFFFF;
}
.product_images {
  display: flex;
  flex-wrap: wrap;
}
.product_image {
  max-width: 464px;
  width: 100%;
  margin-right: 16px;
  margin-bottom: 16px;
}
.product_image img {
  width: 100%;
}
.product-padding {
  padding-bottom: 100px;
}
.product-section .video-content {
  top: calc(50% - 205px);
}

.bg_for_users {
  background-image: url("../img/for_users.png");
  background-size: 100%;
  padding: 142px 0;
}

.for_users-wrapper {
  max-width: 873px;
  margin: 0 auto;
}
.for_users-title {
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #FFFFFF;
  margin-bottom: 30px;
  text-align: center;
}
.for_users-desc p {
  margin-bottom: 15px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.section-why-buy {
  padding: 65px 0 0 0;
}
.section-why-buy .section-title {
  color: #252525;
}
.section-why-buy .col-10 {
  padding: 19px 0;
  position: relative;
}
.section-why-buy .col-10:after, .section-why-buy .col-10.br-top:before {
  width: 1014px;
  content: "";
  height: 1px;
  background-color: #EFEFEF;
  position: absolute;
  left: -315px;
  bottom: 0;
}
.section-why-buy .col-10 .section-title, .section-why-buy .col-10 .section-sub {
  font-size: 18px;
  line-height: 25px;
}
.section-why-buy .br-top:before {
  top: 0;
  width: 1098px !important;
}

.section-who-partner {
  margin: 75px auto;
}
.section-who-partner_title {
  text-align: center;
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #252525;
}
.section-who-partner_desc {
  margin-top: 30px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #252525;
  max-width: 980px;
}
.section-who-partner_desc p {
  margin-bottom: 15px;
}

.care_block {
  background-color: #F8F8F8;
  padding: 30px 0;
}
.care_block .section-who-partner_title, .care_block .section-who-partner_desc {
  text-align: left;
}

.for_sales:before, .for_sales:after {
  background-color: #999999;
}

.display-lg {
  display: block;
}

.section-why-buy .col-2 {
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #000000;
}

.faq {
  padding: 90px 0 0 0;
}
.faq .section_title.bordered:before, .faq .section_title.bordered:after {
  width: calc(1550px - 100% + 585px);
}

.collapse-block {
  background-color: #F8F8F8;
  padding: 50px 0 100px 0;
}
.collapse-block .border-1 {
  position: relative;
  padding: 20px 0;
}
.collapse-block .border-1:before, .collapse-block .border-1:after {
  content: "";
  width: calc(100% + 201px);
  left: -201px;
  height: 1px;
  position: absolute;
  background-color: #EFEFEF;
}
.collapse-block .border-1:before {
  top: 0;
}
.collapse-block .border-1:after {
  bottom: 0;
}
.collapse-header {
  cursor: pointer;
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #242424;
}
.collapse-header.active svg rect:nth-child(2) {
  transform: translateX(-100%);
}
.collapse-content {
  opacity: 0;
  height: 0;
  transition: 0.3s all;
}
.collapse-content.active {
  padding-top: 30px;
  transition: 0.3s all;
  opacity: 1;
  height: 100%;
}

.profile-links {
  height: max-content;
  background-color: #F8F8F8;
  padding: 20px 20px 20px 7px;
  border: 1px solid #EFEFEF;
  border-right: none;
}
.profile-links a {
  display: block;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #BFBFBF;
  padding-left: 13px;
}
.profile-links a:last-child {
  margin-bottom: 0;
}
.profile-links a.active {
  position: relative;
  padding-left: 34px;
  color: #242424;
}
.profile-links a.active:before {
  width: 26px;
  height: 1px;
  background-color: #242424;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
}
.profile-wrapper {
  border: 1px solid #EFEFEF;
  background-color: #F8F8F8;
}
.profile-content {
  padding: 110px 0 100px 0;
}
.profile_info {
  margin-left: 19px;
  padding: 20px 0;
}
.profile-user_name {
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}
.profile-user_withASS {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #646464;
  margin-top: 5px;
}
.profile-user_items {
  margin-top: 15px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
}
.profile-user_items b {
  margin-left: 5px;
  color: #242424;
  font-weight: 700;
}
.profile_change_photo {
  padding-right: 40px;
}
.profile_edit-wrapper {
  padding: 30px 0 35px 20px;
  border: 1px solid #EFEFEF;
  border-top: none;
}
.profile_name-form {
  display: flex;
  align-items: center;
  font-family: "Palatino";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}
.profile_name-form a {
  height: 39px;
  margin-left: 60px;
  display: block;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-decoration-line: underline !important;
  color: #646464;
}
.profile_forms {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.profile_forms-username, .profile_forms-email, .profile_forms-ml20 {
  max-width: 493px;
  width: 100%;
}
.profile_forms-house {
  max-width: 171px;
  width: 100%;
}
.profile_forms-sex {
  margin-left: 20px;
}
.profile_forms-sex label {
  display: block;
}
.profile_forms-sex .select-sex {
  display: flex;
}
.profile_forms-sex .select-sex button {
  min-width: 163px;
  margin-right: 20px;
  display: flex;
  max-width: max-content;
  align-items: center;
  justify-content: center;
  height: 53px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  background-color: transparent;
  border: 1px solid #EFEFEF;
}
.profile_forms-sex .select-sex button:focus, .profile_forms-sex .select-sex button.active {
  color: #FFFFFF;
  background-color: #242424;
  border: none;
}
.profile_forms-sex .select-sex button:last-child {
  margin-right: 0;
}
.profile_forms-sex .select-sex button svg {
  margin-right: 15px;
}
.profile_forms-birthday, .profile_forms-save {
  margin-left: 20px;
}
.profile_forms-birthday input, .profile_forms-save input {
  width: 236px;
}
.profile_forms-save {
  margin-bottom: 0;
  padding-top: 26px;
}
.profile_forms-savebutton {
  width: 200px;
  padding: 14.5px 0;
  max-width: 100%;
  border: none;
  background: #242424;
  color: #FFFFFF;
}
.profile_forms-ml20, .profile_forms-house {
  margin-left: 20px;
}
.profile_forms-payment p {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  max-width: 456px;
}
.profile_forms-cards {
  margin-top: 35px;
}
.profile_forms-cards_wrapper {
  display: flex;
  align-items: center;
  max-width: 574px;
  width: 100%;
  margin-bottom: 25px;
}
.profile_forms-cards_wrapper:last-child {
  margin-bottom: 0;
}

.custom-wrapper-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-wrapper-cards a {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline !important;
  text-decoration-skip-ink: none;
  color: #646464;
}

.muted {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #8A8A8A;
}

.change_photo {
  min-width: 200px;
  max-width: max-content;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #242424;
  color: #242424;
}
.change_photo:hover {
  background-color: #242424;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  body {
    padding-bottom: 60px;
  }

  header {
    display: none;
  }
  header.mobile {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 100% !important;
    align-items: center;
    transition: 0.3s all;
    top: 0;
  }
  header.mobile.background {
    background-color: rgba(0, 0, 0, 0.69);
    transition: 0.3s all;
  }

  .mobile-fixed {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 2;
  }

  .slides {
    height: 590px;
  }
  .slides .slide {
    background-size: cover;
    background-position: center;
    height: 551px;
  }
  .slides .slide-title {
    font-size: 64px;
  }
  .slides .slide-content div {
    width: 100%;
  }
  .slides .slide-content div h2 {
    text-align: center;
    margin-bottom: 7px;
  }
  .slides .slide-btn {
    font-size: 20px;
    line-height: 27px;
    margin: -13px auto 0;
  }

  .swiper-button-next, .swiper-button-prev {
    width: 50px;
    height: 50px;
    right: 30px;
    top: 80%;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 30px;
    width: 50px;
    height: 50px;
  }

  .section {
    padding: 50px 0 0 0;
  }
  .section_title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .section_title.bordered:before, .section_title.bordered:after {
    width: 51px;
  }
  .section_title.bordered:before {
    left: 0;
  }
  .section_title.bordered:after {
    right: 0;
  }

  .catalog.items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .catalog.items .item {
    max-width: 50%;
  }
  .catalog.items .item_img img {
    width: 100%;
  }
  .catalog.items .item:nth-child(n+5) {
    display: none;
  }
  .catalog.items .item_name {
    font-size: 14px;
    line-height: 19px;
    max-width: 144px;
  }
  .catalog.items .item_new_price {
    font-size: 17px;
    line-height: 23px;
  }

  .catalog-slides {
    padding-bottom: 0;
  }

  .pad {
    padding: 26px 0 0 0;
  }

  .pat {
    padding: 35px 0 0 0;
  }
  .pat .section_title {
    margin-bottom: 20px;
  }

  .categ-blocks .categories_item {
    width: 100%;
    padding: 32px 13px;
    height: 100%;
  }
  .categ-blocks .categories_name {
    font-size: 32px;
    line-height: 43px;
  }
  .categ-blocks .categories_description {
    font-size: 14px;
    line-height: 19px;
  }

  .mobile-100 {
    padding: 0 !important;
    width: 100%;
  }

  .trends {
    padding-left: 13px;
    padding-bottom: 0;
  }
  .trends .item {
    max-width: 165px;
  }
  .trends .item img {
    width: 100%;
  }
  .trends .item_brand {
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
  }
  .trends .item_category {
    font-size: 13px;
    line-height: 18px;
    margin-top: 0;
  }

  .video_description {
    text-align: center;
  }
  .video_btn {
    margin: 35px auto 0;
  }
  .video-section, .video-section video {
    height: 478px;
  }
  .video-content {
    top: 0;
    left: 0;
    padding: 50px 20px;
    height: 100%;
  }
  .video_title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .video_description {
    font-size: 16px;
    line-height: 22px;
  }

  .mobile-p-0 {
    padding: 0 !important;
  }

  .actual .item {
    position: relative;
    max-width: 100%;
  }
  .actual .item_title, .actual .item_description {
    color: #FFFFFF;
  }
  .actual .item_title {
    font-size: 20px;
    line-height: 27px;
  }
  .actual .item_description {
    font-size: 13px;
    line-height: 18px;
  }
  .actual .item:nth-child(1), .actual .item:nth-child(2) {
    width: 50%;
  }
  .actual .item:nth-child(0n+3) .item_img {
    height: 189px;
  }
  .actual .item_img {
    background-size: cover;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-top {
    position: absolute;
    top: 66px;
    margin: 0 auto;
    width: 100%;
  }

  .how_work {
    margin-top: 0;
  }
  .how_work_content {
    justify-content: unset;
    text-align: center;
  }
  .how_work_item {
    max-width: 100% !important;
    width: 100%;
    padding: 0 15px;
  }
  .how_work_item:after {
    content: unset;
  }
  .how_work_wrapper {
    padding: 45px 0;
  }
  .how_work_title {
    font-size: 20px;
    line-height: 27px;
  }
  .how_work_buttons a {
    min-width: 173px;
  }

  .footer {
    padding: 22px 0;
  }
  .footer .col-12 {
    order: 3;
  }
  .footer .col-12 .footer-title {
    text-align: center;
  }
  .footer .col-6 {
    margin-bottom: 30px;
  }
  .footer .col-6:nth-child(3) {
    order: 2;
  }
  .footer .col-6:nth-child(4) {
    order: 1;
  }
  .footer .col-6.before-line:first-child:after {
    content: "";
    right: -2px;
    top: 10px;
  }
  .footer .col-6.before-line:after {
    content: unset;
  }
  .footer .row {
    height: 100%;
  }
  .footer-two-container {
    flex-wrap: unset;
    justify-content: space-between;
  }
  .footer-two a {
    padding: 0;
    border: 0;
  }
  .footer-title {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 15px;
  }
  .footer .input-group, .footer-title, .footer a {
    margin-left: 0;
  }
  .footer input[type=email] {
    max-width: 100%;
  }

  .subscribe {
    line-height: 16px;
    margin-left: 0px;
  }

  label.custom-radio span {
    padding-left: 0 !important;
  }

  .menu_bottom {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 60px;
    background-color: #FFFFFF;
    z-index: 1;
    width: 100%;
    padding: 10px 15px;
    justify-content: space-between;
  }
  .menu_bottom a {
    display: flex;
    max-width: 100%;
    width: 48px;
    flex-direction: column;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #242424;
  }
  .menu_bottom a svg {
    margin-bottom: 5px;
  }

  .header-wrapper {
    display: block;
    position: fixed;
    top: 0;
    background-color: #2F2F2F;
    height: 100%;
    width: 100%;
    padding-top: 94px;
    transition: 0.3s all;
    opacity: 0;
    z-index: 2;
    transform: translateX(-100%);
  }
  .header-wrapper.active {
    transition: 0.3s all;
    transform: translateX(0);
    opacity: 1;
  }
  .header-content {
    margin-top: 25px;
  }
  .header-content-btn {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 14px 0;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2F2F2F;
  }
  .header-content-two {
    padding: 0 14px;
  }
  .header-content-two a {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    display: block;
    max-width: max-content;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  .header-content li {
    padding: 5px 14px;
  }
  .header-content li.active {
    background-color: #333333;
  }
  .header-content li, .header-content a {
    display: block;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
  }
  .header-content-title {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
  }

  .padding-14 {
    padding: 0 15px;
  }

  .breadcrumb-wrapper {
    display: none;
  }

  body.catalog {
    padding-top: 68px;
  }

  .filter .item {
    max-width: 50% !important;
  }
  .filter_brands {
    height: 100vw;
  }

  .display-mobile {
    display: block;
  }

  .page-title {
    font-family: "Palatino";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #242424;
    margin-bottom: 11px;
  }
  .pagination {
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .catalog.items .item:nth-child(n+5) {
    display: block;
  }

  .garantee-section .video-content {
    top: calc(50% - 158px);
  }
  .garantee-section video, .garantee-section .video-section {
    height: 306px;
  }

  .garantee-padding.how_work_wrapper {
    padding: 45px 0 20px 0;
  }
  .garantee-padding .how_work_title {
    font-size: 24px;
    line-height: 32px;
  }

  .filter-badge {
    padding: 6px 12px;
    max-width: max-content;
    border-radius: 26px;
    border: 1px solid #242424;
    margin: 0 5px;
  }
  .filter-badge:first-child {
    margin-left: 0;
  }
  .filter-badge svg {
    margin-left: 10px;
  }

  .mobile_filter-wrapper {
    position: fixed;
    background: #FFFFFF;
    width: 100%;
    z-index: 2;
    transform: translateX(100%);
    transition: 0.3s all;
  }
  .mobile_filter-wrapper.active {
    transform: translateX(0%);
    overflow-y: scroll;
  }
  .mobile_filter-wrapper .page-title {
    text-align: center;
  }

  .no-scroll {
    overflow: hidden;
  }

  .filters_title {
    padding: 18px 14px;
    background-position: 96%;
  }
  .filters_scrollbar .swiper-scrollbar-drag {
    width: 11px;
    left: -1px;
  }
  .filters_scrollbar .swiper-vertical > .swiper-scrollbar {
    width: 9px;
  }

  .modal_footer {
    margin-top: 10px;
  }
  .modal_footer a {
    font-size: 14px;
    line-height: 19px;
  }
  .modal-form {
    margin: 0;
  }
  .modal-header {
    display: none;
  }
  .modal-title {
    margin-top: 29px;
    font-size: 24px;
    line-height: 32px;
  }

  .label {
    font-size: 13px;
    line-height: 18px;
  }

  .form-submit button {
    margin: 114px auto 62px auto;
  }

  .product_sizes span {
    margin-bottom: 15px;
  }
  .product_name {
    font-size: 24px;
    line-height: 32px;
    max-width: 215px;
  }
  .product_prices {
    margin-top: 10px;
    display: block !important;
  }
  .product_cart {
    margin-top: 20px;
    max-width: 100%;
  }
  .product_image {
    margin-right: 0;
  }
  .product-section .video_title, .product-section .video_description {
    text-align: left;
  }
  .product-section .video_description {
    margin-top: 5px;
  }
  .product-section .video-content {
    top: 0;
    padding: 14px 14px;
  }
  .product-section .video-section video, .product-section .video-section {
    height: 525px;
  }
  .product_image {
    max-width: unset;
  }
  .product_images {
    flex-wrap: unset;
  }

  .product_image-pagination {
    bottom: -5px !important;
  }

  .swiper-slide-thumb-active {
    position: relative;
  }
  .swiper-slide-thumb-active:after {
    content: "";
    width: 56px;
    height: 4px;
    background-color: #242424;
    position: absolute;
    left: 0;
    bottom: -10px;
  }

  #product_images {
    margin-top: 37px;
  }

  #product_images-nav .product_image {
    max-width: 56px;
  }
  #product_images-nav img {
    width: 56px;
    height: 56px;
  }

  .display-lg {
    display: none;
  }

  .bg_for_users {
    padding: 50px 0;
    background-size: cover;
    background-position: center;
  }

  .for_users-title {
    font-size: 24px;
    line-height: 32px;
  }
  .for_users-desc p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
  }
  .for_users-desc p:last-child {
    margin-bottom: 0;
  }

  .section-why-buy {
    padding-top: 26px;
  }
  .section-why-buy .col-10 {
    padding: 19px 14px 19px 0;
  }
  .section-why-buy .col-10 .section-title, .section-why-buy .col-10 .section-sub {
    font-size: 16px;
    line-height: 21px;
  }
  .section-why-buy .col-10:before, .section-why-buy .col-10:after {
    content: unset !important;
  }
  .section-why-buy .for_users-title {
    max-width: 221px;
    margin: 0 auto;
  }

  .section-who-partner {
    margin: 15px 0;
  }
  .section-who-partner_title {
    font-size: 24px;
    line-height: 32px;
  }
  .section-who-partner_desc {
    padding: 0 20px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }

  .care_block .section-who-partner_title {
    text-align: center;
  }
  .care_block .section-who-partner_desc {
    padding: 0 7px;
    text-align: center;
  }

  .for_sales .col-10 {
    padding: 0 14px 0 0;
  }
  .for_sales .section_title.bordered:before, .for_sales .section_title.bordered:after {
    content: unset;
  }

  .section-why-buy .col-2 {
    font-size: 30px;
    line-height: 40px;
  }

  .faq {
    padding: 30px 0 60px 0 !important;
  }
  .faq .section_title {
    margin-bottom: 0;
  }

  .collapse-content {
    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
  }
  .collapse-header {
    font-size: 18px;
    line-height: 24px;
  }
  .collapse-block {
    padding: 15px 14px;
  }
  .collapse-block .border-1:after, .collapse-block .border-1:before {
    width: calc(100% + 28px);
    left: -14px;
  }
}
@media screen and (max-width: 370px) {
  .footer a {
    font-size: 15px;
  }

  .container {
    padding: 0 15px;
  }

  .video_title {
    font-size: 22px;
    text-align: center;
  }
}
@media screen and (min-width: 371px) and (max-width: 500px) {
  .container {
    padding: 0 13px;
  }
}
@media screen and (min-width: 766px) and (max-width: 1024px) {
  .video-content {
    right: 0;
  }
  .video_description {
    max-width: calc(100% - 60px);
    margin-right: auto;
    margin-left: auto;
  }
}
