@font-face {
	font-family: 'Palatino';
	font-display: swap;
	src: url("../fonts/Palatino-BoldItalic.woff2") format("woff2"), url("../fonts/Palatino-BoldItalic.woff") format("woff");
	font-weight: bold;
    font-style: italic;
}
@font-face {
	font-family: 'Palatino';
	font-display: swap;
	src: url("../fonts/Palatino-Bold.woff2") format("woff2"), url("../fonts/Palatino-Bold.woff") format("woff");
	font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family: 'Palatino';
	font-display: swap;
	src: url("../fonts/Palatino Linotype Regular.woff2") format("woff2"), url("../fonts/Palatino Linotype Regular.woff") format("woff");
	font-weight: 400;
    font-style: normal;
}