@font-face {
	font-family: NeueMachina-Black;
	font-display: swap;
	src: url("../fonts/NeueMachina-Black.woff2") format("woff2"), url("../fonts/NeueMachina-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
