@import "fonts.scss";

// * {
// 	outline: 1px lime solid !important;
// }

a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none !important;
}


html,
body {
	scroll-behavior: smooth;
}

$bl: #242424;

.logo {
	width: 100%
}

.logo img {
	width: 100%;
	object-fit: contain;
}

.rnb-title {
	width: 100%;
	text-align: center;
	padding: 50px 0;
	font-family: "Palatino";
	font-size: 36px;
	color: $bl;
}

.rnb-contacts-cont {
	position: relative;
	display: flex;
	background-color: $bl;
	font-family: "Nunito";
	color: #fff !important;

	a {
		color: #fff !important;
	}

	.info {
		.title {
			padding: 70px 0;
			font-family: "Palatino";
			font-size: 36px;
			color: #fff;
		}

		.point {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			svg {
				margin-right: 15px
			}
		}

		.sub-title {
			margin-top: 40px;
			margin-bottom: 25px
		}

		.soc {
			display: flex;
			gap: 30px;
			margin-bottom: 150px;
		}
	}

	#map {
		width: 65%;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}
}

.modal .close {
	border: none !important;
	background-color: transparent !important;
}

.modal-body {
	&>div {
		display: none;

		&>button {
			background: none;
			border: none;
			font-family: 'Nunito';
			margin-bottom: 80px;
		}
	}

	&>div.active {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.form-submit button {
		margin: 30px auto;
	}

}

.rnb-htb-cont {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(../img/howToBuy.png);
	background-size: cover;
	font-family: "Nunito";
	color: #fff !important;
	font-size: 18px;
	font-weight: lighter;
	padding: 140px 0;

	a {
		color: #fff !important;
		text-decoration: underline !important;
		text-underline-offset: 3px;
		font-weight: 500;
	}

	.point {
		&:not(:last-child) {
			margin-bottom: 7px;
		}
	}

	.sub-title {
		margin-bottom: 30px;
		font-family: "Palatino";
		font-size: 36px;
		color: #fff;

	}
}

.profile_info {
	position: relative;
}

.profile-user-exit {
	border: none;
	background: none;
	padding: 0;
	font-family: 'Nunito';
	position: absolute;
	bottom: 20px;
}


.cng-btn {
	min-width: 200px;
	max-width: max-content;
	padding: 14px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #242424;
	color: #242424;
}

.cng-btn-photo {
	margin-bottom: 20px;
	background-color: #242424;
	color: #fff;
}

.profile_forms .form-group {
	margin-bottom: 10px;
}

.select-sex span {
	min-width: 200px;
	max-width: max-content;
	padding: 14px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #EFEFEF;
	color: #242424;
	text-align: center;
	margin-right: 20px;
	cursor: pointer;
}

.container input:checked~span {
	border: 1px solid #242424;
	background-color: #242424;
	color: #fff;
}

.select-sex label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.container input:checked~span {
	border: none;
}

.profile-links button {
	display: block;
	margin-bottom: 20px;
	font-family: "Nunito", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 27px;
	color: #BFBFBF;
	padding-left: 13px;
	border: none;
	background: none;
}

.profile-links button:last-child {
	margin-bottom: 0;
}

.world-trends,
.actuals {
	width: 100%;
	object-fit: cover;
}

.world-trends {
	aspect-ratio: 41/100;
}

.actuals {
	aspect-ratio: 50/61;
}

.profile-wrapper img {
	height: 216px;
	object-fit: cover;
	aspect-ratio: 243 / 216;
}

.pl-0 {
	padding-left: 0 !important;
}

.profile-wrapper {
	height: 100%;
}

.profile-wrapper>div {
	height: 100%;
}

.profile-links button.active {
	position: relative;
	padding-left: 34px;
	color: #242424;
}

.profile_list-wrapper {
	padding: 30px 0 0 0;
	border-top: none;
}

.tabcont {
	display: none;
}

.fav-stat {
	display: flex;
	align-items: center;
	font-family: "Palatino";
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 49px;
	color: #000000;
	margin-left: 20px
}



.profile-links button.active:before {
	width: 26px;
	height: 1px;
	background-color: #242424;
	position: absolute;
	top: 50%;
	left: 0;
	content: "";
}

.item-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;


	.item {
		width: 25%;
		background-color: #fff;
		color: $bl !important;

		img {
			width: 100%;
			aspect-ratio: 282 / 346;
			object-fit:cover;
		}

		border: 1px solid #efefef;
		font-family: 'Nunito';

		.item-border {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.item_articul {
			margin-top: 10px;
			font-weight: lighter;
			font-size: 10px;
		}

		.item_name {
			text-align: center;
			font-weight: lighter;
			font-size: 16px;
			color: #242424 !important;

			&:hover {
				text-decoration: underline !important
			}
		}

		.item_price {
			margin-top: 10px;
			margin-bottom: 15px;
			text-align: center;
			font-weight: lighter;
			font-size: 20px;
		}

		.add-sale {
			min-width: 200px;
			max-width: max-content;
			padding: 14px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #242424;
			color: #242424;
			background-color: #fff;
			margin-bottom: 15px;

			&:hover {
				color: #fff;
				background-color: #242424;
			}
		}

		.prod-add-cont {
			width: 100%;
			aspect-ratio: 282 / 346;
			background-color: #242424;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.prod-add-text {
			color: #242424;
			font-family: 'Nunito';
			font-weight: 600;
			font-size: 16px;
			width: 100%;
			text-align: center;
			margin-top: 50px;

		}

		&:hover {
			.prod-add-text {
				text-decoration: underline;
				text-underline-offset: 3px;
			}
		}
	}

}


.catalog.items {

	.item {
		max-width: 302px;
		background-color: #fff;
		color: $bl !important;

		img {
			width: 100%;
			aspect-ratio: 302 / 346;
			object-fit:cover;
		}

		border: 1px solid #efefef;
		font-family: 'Nunito';

		.item-border {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.item_old_price {
			margin-bottom:10px
		}
		.item_articul {
			margin-top: 10px;
			font-weight: lighter;
			font-size: 10px;
		}

		.item_name {
			text-align: center;
			font-weight: lighter;
			font-size: 16px;
			color: #242424 !important;

			&:hover {
				text-decoration: underline !important
			}
		}
	}
}

.add-prod-form {
	margin-bottom: 100px;

	label {
		margin-top: 10px
	}

	.form-textarea {
		flex-grow: 1;
		max-height: 311px;
		display: flex;
		flex-direction: column
	}

	textarea {
		resize: none;
		flex-grow: 1;
		max-height: none
	}

	.rnb-sub-title {
		padding: 50px 0;
		font-family: "Palatino";
		font-size: 36px;
		color: $bl;
	}

	.top-cont {
		display: flex;
		justify-content: space-between;

		.tt-cont {
			width: 50%;
			display: flex;
			flex-direction: column;

			&:last-child {
				justify-content: space-between;
			}

			.img-add-contt {
				display: flex;
				flex-wrap: wrap;
			}

			.img-cont {
				width: calc((100% - 40px) / 3);
				aspect-ratio: 1 / 1;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 20px;

				&:not(:nth-child(3n)) {
					margin-right: 20px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				button {
					border: none
				}

				.empty-img {
					width: 100%;
					height: 100%;
					background-color: #f8f8f8;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.add-img {
					width: 100%;
					height: 100%;
					background-color: #f8f8f8;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}

	.upload {
		width: 100%;
		height: 100%;
	}

	.select-condition {
		display: flex;
		flex-direction: column;

		label {
			width: fit-content
		}

		span {
			width: 100%;
			max-width: 493px;
			padding: 20px;
			display: flex;
			flex-direction: column;

			border: 1px solid #242424;
			color: #242424;
			margin-right: 20px;
			cursor: pointer;

			.title-cont {
				display: flex;
				align-items: center;

				svg {
					display: none;
					margin-right: 15px
				}

				.title {
					font-size: 32px
				}
			}
		}

		input:checked~span {
			border: 1px solid #f8f8f8;
			background-color: #f8f8f8;
			color: #242424;

			svg {
				display: block;
			}
		}

		label input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}
	}

	.two-inputs-cont {
		display: flex;
		gap: 20px;
		width: 100%;
		max-width: 493px;
	}

	.sub-info-price {
		margin-top: 15px;
		font-weight: lighter;
		color: #242424;

		a {
			font-weight: bold;
			color: #242424;
			text-decoration: underline !important;
			text-underline-offset: 3px;
		}
	}

	.inpt-row {
		display: flex;

		&>div:first-child {
			margin-right: 20px;
		}
	}

	button[type="submit"] {
		margin-top: 15px;
		min-width: 200px;
		max-width: max-content;
		padding: 14px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #242424;
		margin-bottom: 15px;
		color: #fff;
		background-color: #242424;
	}


	.slct {
		outline: none !important;
		position: relative;

		@media (max-width:500px) {
			margin-left: 0;
		}

		input {
			outline: none !important;
		}

		.dropdownn {
			outline: none !important;
			cursor: pointer;
		}

		.dropdownn .select {
			border: 1px solid #EFEFEF;
			padding: 15px;
			font-family: "Nunito", sans-serif;
			height: 100%;
			max-height: 53px;
			font-style: normal;
			background-color: transparent;
			border-radius: 0;
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
			color: #242424;
			display: flex;
			justify-content: space-between;
			align-items: center
		}

		.dropdownn .select>svg {
			margin-left: 10px;
			border-radius: 50%;
			transition: all .3s ease-in-out;

			@media (max-width:1366px) {
				width: 25px;
				height: 25px;
			}
		}

		.dropdownn.active .select>svg {
			transform: rotate(-180deg)
		}

		.dropdownn .dropdownn-menu {
			position: absolute;
			border: 1px solid #EFEFEF;
			border-top: none;
			z-index: 9;
			border-radius: 0;
			display: none;
			padding: 0;
			list-style: none;
			cursor: unset;
			width: 100%
		}

		.dropdownn .dropdownn-menu>div {
			background-color: #fff;
			transition: all .2s ease-in-out;
			cursor: pointer;
			padding: 5px;
			margin: 0 !important;

			&:hover {
				background-color: #f8f8f8
			}
		}

	}
}

.recovery-screen {
	display: none;

	&.active {
		display: block;
	}
}

.text-mail {
	font-family: 'Nunito';
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	margin-top: -30px;
}

.lk {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;

	.form-group {
		margin-bottom: 15px;
	}

	button {
		min-width: 200px;
		max-width: max-content;
		padding: 14px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #242424;

		&.btn-next {
			color: #fff;
			background-color: #242424;
		}

		&.btn-prev {
			color: #242424;
			background-color: #fff;
			margin-bottom: 15px;
		}
	}
}

.how_work_content {
	display: none;
}

.video_btn.active {
	background: #242424;
	color: #fff;
}

.video_btn {
	background: #fff;
	color: #242424;
}

.how_work_buttons button {
	margin-top: 0;
	min-width: 298px;
	background: 0 0;
	color: #242424;
	border: 1px solid #242424;
}

#saleModal {
	.sale-title {
		width: 100%;
		text-align: center;
		padding: 40px 0 30px 0;
		font-family: Palatino;
		font-size: 36px;
		color: #242424;
	}

	.modal-body {
		padding: 0;
	}

	.item {
		width: 282px;
		background-color: #f8f8f8;
		color: $bl !important;

		img {
			width: 100%;
			aspect-ratio: 282 / 346;
			object-fit: cover;
		}

		border: 1px solid #efefef;
		font-family: 'Nunito';

		.item-border {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.item_articul {
			margin-top: 10px;
			font-weight: lighter;
			font-size: 10px;
		}

		.item_name {
			text-align: center;
			font-weight: lighter;
			font-size: 16px;
			color: #242424 !important;

			&:hover {
				text-decoration: underline !important
			}
		}

		.item_price {
			margin-top: 10px;
			margin-bottom: 15px;
			text-align: center;
			font-weight: lighter;
			font-size: 20px;
		}

		.add-sale {
			min-width: 200px;
			max-width: max-content;
			padding: 14px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #242424;
			color: #242424;
			background-color: #fff;
			margin-bottom: 15px;

			&:hover {
				color: #fff;
				background-color: #242424;
			}
		}

		.prod-add-cont {
			width: 100%;
			aspect-ratio: 282 / 346;
			background-color: #242424;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.prod-add-text {
			color: #242424;
			font-family: 'Nunito';
			font-weight: 600;
			font-size: 16px;
			width: 100%;
			text-align: center;
			margin-top: 50px;

		}

		&:hover {
			.prod-add-text {
				text-decoration: underline;
				text-underline-offset: 3px;
			}
		}
	}

	.modal-form {
		margin: 0;
		max-width: 100%;

		.salee-title {
			width: 100%;
			text-align: center;
			padding: 25px 0 20px 0;
			font-family: Palatino;
			font-size: 36px;
			color: #242424;
		}

		.form-submit button {
			margin: 15px auto 40px auto
		}

		.select-sale span {
			width: 100px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #242424;
			color: #242424;
			text-align: center;
			cursor: pointer;

		}

		.sale-row {
			display: flex;
			justify-content: center;

			label {
				&:not(:last-child) {
					span {
						border-right: none;
					}
				}
			}

			&:last-child {
				span {
					border-top: none;
				}
			}
		}


		input:checked~span {
			border: 1px solid #242424;
			background-color: #242424;
			color: #fff;
		}

		.select-sale label input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}
	}
}


.sizes {
	max-width: 493px;
	width: 100%;

	.size-row {
		display: flex;
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 10px
		}

		.size-block {
			width: max-content;

			&:first-child {
				width: 10em;
			}

			&:last-child {
				flex-grow: 1;
			}

			.size-label {
				margin-top: 10px;
				margin-bottom: 5px;
				font-family: "Nunito", sans-serif;
				font-style: normal;
				font-weight: 300;
				font-size: 14px;
				line-height: 19px;
				color: #646464;
			}
		}
	}

	/* Customize the label (the container) */
	.size-check {
		display: block;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-family: "Nunito", sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		color: #242424;
		height: 100%;
		margin-top: 0;
		padding: 15px;
		padding-left: 35px;
	}

	/* Hide the browser's default checkbox */
	.size-check input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */
	.size-check .checkmark {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #fff;
		border: 1px solid #e0e0e0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* When the checkbox is checked, add a blue background */
	.size-check input:checked~.checkmark {
		background-color: #242424;
		border: 1px solid #242424;
	}

	/* Show the checkmark when checked */
	.size-check input:checked~.checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.size-check .checkmark:after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

#prodModal {
	.modal-dialog {
		max-width: none;
		height: auto;
		margin: 0;
		width: 100vw;

		.modal-content {
			padding: 100px
		}
	}

	form {
		margin-top: 40px;
		display: flex;

		button {
			max-width: 464px;
			padding: 18px 0;
			text-align: center;
			width: 100%;
			border: 1px solid #242424;
			color: #FFFFFF;
			font-family: 'Nunito';
			font-size: 30px;

			&:first-child {
				background: #1CCC38;
				margin-right: 16px
			}

			&:last-child {
				background: #D01919;
			}
		}
	}
}