@import "fonts.scss";

// * {
// 	outline: 1px lime solid !important;
// }

a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none !important;
}


html,
body {
	scroll-behavior: smooth;
}

